/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --bg: #111111;
    --card: #1a1a1a;
    --text: #e5e5e5;
    --text-light: #9ca3af;
    --border: #2a2a2a;
    --border-hover: #3a3a3a;
}

/* BODY */
body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.7;
    letter-spacing: 0.2px;
}

/* SECTIONS */
section {
    max-width: 900px;
    margin: 0 auto;
    padding: 90px 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 40px;
}

p {
    color: var(--text-light);
    font-size: 0.95rem;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid var(--border);
      z-index: 1000;
}

.logo__header {
    width: 40px;
    filter: invert(1);
    box-shadow: 0 0 10px 5px rgba(158, 87, 87, 0.5);
}

.nav_menu a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--text-light);
}

.nav_menu a:hover {
    color: var(--text);
}

/* HOME */
.home {
    display: flex;
    align-items: center;
    gap: 60px;
}

.container_image-home {
    width: 300px;
}

.image_home {
    width: 250px;
    filter: invert(1);
    box-shadow: 0 0 10px 5px rgba(158, 87, 87, 0.5);
}

.home_text-2 {
    font-size: 2.5rem;
}

/* BOTONES */
button {
    padding: 10px 20px;
    border: 1px solid var(--border);
    background: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #2b2b2b;
    color: white;
}

.container_button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

/* LINKS */
.links {
    display: flex;
    gap: 12px;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--border);
    background: #2b2b2b;
}

.links a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--border);
    background: #b8b8b8;
}

.links img {
    width: 25px;
}

/* SOBRE MI */
.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* HABILIDADES */
.cards_container--habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.cards--habilidades {
    border: 1px solid var(--border);
    padding: 20px;
    text-align: center;
    background: var(--card);
}

.cards--habilidades img {
    width: 50px;
}

/* PROYECTOS */
.cards_container--proyectos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cards--proyectos {
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid var(--border);
    padding: 20px;
    background: var(--card);
    transition: 0.3s;
}

.cards--proyectos:hover {
    border-color: var(--border-hover);
}

/* IMAGEN IZQUIERDA */
.container_imgCard--proyectos {
    flex: 0 0 250px;
}

.container_imgCard--proyectos img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
/* TEXTO */
.container_textCard--proyectos {
    flex: 1;
}

.container_textCard--proyectos h2 {
    margin-bottom: 10px;
}

/* BOTÓN */
.container_btn--proyectos {
    margin-top: 10px;
}

.container_btn--proyectos a {
    text-decoration: none;
    color: inherit;
}

/* CONTACTO */
.form-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contact input,
.form-contact textarea {
    padding: 10px;
    border: 1px solid var(--border);
}

/* FOOTER */
footer {
    border-top: 1px solid var(--border);
    padding: 40px;
    text-align: center;
}

/* BOTÓN TOP */
.go-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2b2b2b;
    color: white;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .cards--proyectos {
        flex-direction: column;
        text-align: center;
    }

    .container_imgCard--proyectos {
        flex: none;
        width: 100%;
    }
}

.btn_repo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn_repo img {
    width: 16px;
    height: 16px;
}

/* BOTÓN HAMBURGUESA */
.btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.btn span {
    width: 25px;
    height: 3px;
    background: var(--text);
    margin: 4px 0;
    display: block;
}

/* MOBILE */
@media (max-width: 768px) {

    .btn {
        display: flex;
    }

    .nav_menu {
        position: fixed;
        top: 70px;
        right: 0;
        background: var(--bg);
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px 0;

        transform: translateY(-200%);
        transition: 0.3s ease;
    }

    .nav_menu a {
        margin: 15px 0;
    }

    /* cuando se activa */
    .nav_menu.active {
        transform: translateY(0);
    }
}

.nav_menu {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding: 10px 20px;
}

.nav_menu a {
    padding: 10px 8px;
}